/* Estilos para el modal */
/* Estilos para el modal de éxito */
.modal-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000; /* Ajusta esto según sea necesario */
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  }
  
  /* Estilos para el contenido del modal (opcional) */
  .modal-content {
    /* Estilos adicionales para el contenido del modal */
  }
.modal-content {
    background-color: #fff; /* Color de fondo del modal */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Sombra del modal */
    position: relative;
  }
  
  .modal-header {
    background-color: #007bff; /* Color de fondo del encabezado del modal */
    color: #fff; /* Color del texto del encabezado del modal */
    border-top-left-radius: 10px; /* Bordes redondeados en la parte superior izquierda */
    border-top-right-radius: 10px; /* Bordes redondeados en la parte superior derecha */
  }
  
  .modal-title {
    font-weight: bold; /* Texto del encabezado en negrita */
  }
  
  .modal-body {
    padding: 20px; /* Espaciado interno en el cuerpo del modal */
  }
  
  .modal-footer {
    border-bottom-left-radius: 10px; /* Bordes redondeados en la parte inferior izquierda */
    border-bottom-right-radius: 10px; /* Bordes redondeados en la parte inferior derecha */
    text-align: center; /* Texto centrado en el pie de página */
  }
  
  /* Estilos para centrar el modal en la pantalla */
  .modal-dialog {
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    max-width: 90%; /* Ancho máximo del modal */
  }
  
  /* Ajustar el ancho del modal según tus preferencias */
  .modal-dialog .modal-content {
    max-width: 400px; /* Ancho máximo del contenido del modal */
  }
  
  /* Estilos para la flecha de éxito */
.success-arrow {
    position: relative;
    width: 80px;
    height: 80px;
    margin: 0 auto;
    transform: translateY(-20px);
  }
  
  .success-checkmark {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    stroke: #4CAF50;
    stroke-width: 4;
    stroke-dasharray: 260;
    stroke-dashoffset: 260;
    stroke-linecap: round;
    fill: none;
    animation: draw-checkmark 0.6s ease-in-out forwards;
  }
  
  @keyframes draw-checkmark {
    to {
      stroke-dashoffset: 0;
    }
  }
  