
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>



</head>

<body>

  <div class="container text-center">
    <div class="row">
      <div class="contenedor col-6 col-sm-4">
        <div class="box-description">
          <div class="title">
            <h1>SIGN UP</h1>
          </div>
          <!--<mat-grid-list cols="2" rowHeight="2:1">
            <!--contenido principal-->

           <!-- <mat-grid-tile class="content-1">
              <!--login-->
              <!--<div class="description">
                <p>En Esta seccion Puede registrarse llenando su informacion
                  personal para ser logueado posteriormente, o podria hacerlo
                  mas rapido mediante a su cuenta de google o github</p>
              </div>
            </mat-grid-tile>
            <mat-grid-tile class="content-2">
              <div class="card2">

                <div id="animacion_1">
                  <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs"
                    type="module"></script>

                  <dotlottie-player src="https://lottie.host/ebd40bb9-90f3-4bed-9c73-028db52554d1/97CS3vj0Ty.json"
                    background="transparent" speed="1" style="width: 300px; 
                    height: 300px;" loop autoplay>
                  </dotlottie-player>
                </div>
              </div>

            </mat-grid-tile>

          </mat-grid-list>
        </div>

        </div>

        <div class="content-step">
          <nz-steps [nzCurrent]="currentStep" nzDirection="horizontal">
            <nz-step nzTitle="Identificacion"></nz-step>
            <nz-step nzTitle="Information"></nz-step>
            <nz-step nzTitle="Credentials"></nz-step>
            <nz-step nzTitle="Done"></nz-step>
          </nz-steps>
        </div>
        <!--acordeon 1-->

        <!--<div class="content-principal" *ngIf="currentStep === 0 && cardStates.card1">
          <div class="box-acordeon">
            <div class="acordeon">
              <mat-accordion>
                <mat-expansion-panel hideToggle>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <span nz-icon nzType="solution" nzTheme="outline"></span>
                      IDENTIFICACION
                    </mat-panel-title>
                    <mat-panel-description>
                      Identificacion y rol de usuario
                    </mat-panel-description>
                  </mat-expansion-panel-header>

                  <p class="style-information">Por favor, le solicitamos ingresar su número de cédula y
                    seleccionar el rol que corresponde a su perfil de usuario. Le agradecemos por
                    tomarse un momento para proporcionar esta información.</p>

                  <label class="style-important">*All fields required unless noted.</label>
                  <!--identificacion y rol-->
                  <!--<form [formGroup]="registrationForm">
                    <div class="inputGroup">
                      <input autocomplete="off" formControlName="Identificacion" appNumbersOnly type="text" >
                      <label for="Identificacion">Identificacion</label>
                      
                    </div>


                    <div class="form-select ">

                      <mat-label> Seleccione:</mat-label>
                      <mat-select formControlName="Rol" (click)="toggleSelect()"
                        placeholder="Porfavor seleccione una opcion">
                        <mat-option *ngFor="let users of users" [value]="users.value">
                          {{users.viewValue}}
                        </mat-option>
                      </mat-select>

                    </div>

                    <button class="button-siguiente" (click)="nextStep()">
                      <div
                        class="absolute opacity-0 -bottom-full rounded-md py-2 px-2  left-1/2 -translate-x-1/2 group-hover:opacity-100 transition-opacity shadow-lg">
                        <label class="label-button">
                          Siguiente
                        </label>
                      </div>
                    </button>
                  </form>

                </mat-expansion-panel>
              </mat-accordion>
            </div>
          </div>
        </div>

        <!--acordeon 2-->
        <!--<div class="content-principal" *ngIf="currentStep === 1 && cardStates.card2 ">

          <div class="box-acordeon">
            <div class="acordeon2">
              <mat-accordion>
                <mat-expansion-panel hideToggle>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <span nz-icon nzType="user" nzTheme="outline"></span>
                      INFORMATION
                    </mat-panel-title>
                    <mat-panel-description>
                      Informacion perosnal del usuario
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <div class="container-acordeon">
                    <!-- nombre y ubicacion-->
                    <!--<p class="style-information">Por favor, le pedimos que proporcione cierta información para completar
                      el registro de la persona.
                      Esta información incluye el nombre, la ubicación, el número de teléfono y una dirección de correo
                      electrónico válida.
                      La dirección de correo electrónico será verificada a través de un enlace que se enviará a su
                      bandeja de entrada,
                      lo que nos permitirá confirmar su cuenta de manera segura.</p>

                    <label class="style-important">*All fields required unless noted.</label>
                    <!--identificacion y rol-->
                    <!--<form [formGroup]="registrationForm">
                      <div class="inputGroup">
                        <input autocomplete="off" formControlName="Nombre" required="" type="text">
                        <label for="name">Nombre</label>
                      </div>

                      <div class="inputGroup">
                        <input autocomplete="off" formControlName="Ubicacion" required="" type="text">
                        <label for="Ubicacion">Ubicacion</label>
                      </div>

                      <div class="inputGroup">
                        <input autocomplete="off" formControlName="Telefono" appNumbersOnly required="" type="text">
                        <label for="Ubicacion">Telefono</label>
                      </div>

                      <div class="inputGroup">
                        <input autocomplete="off" formControlName="Correo" type="text" required>
                        <label for="Ubicacion">Correo</label>
                      </div>

                      <button class="button-siguiente" (click)="nextStep()">
                        <div
                          class="absolute opacity-0 -bottom-full rounded-md py-2 px-2  left-1/2 -translate-x-1/2 group-hover:opacity-100 transition-opacity shadow-lg">
                          <label class="label-button">
                            Siguiente
                          </label>
                        </div>
                      </button>
                    </form>
                  </div>
                </mat-expansion-panel>
              </mat-accordion>
            </div>
          </div>
        </div>

        <!--acordeon 3-->
        <!--<div class="content-principal" *ngIf="currentStep === 2 && cardStates.card3">
          <div class="box-acordeon">
            <div class="acordeon3">
              <mat-accordion>
                <mat-expansion-panel hideToggle>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <span nz-icon nzType="lock" nzTheme="outline"></span>
                      CREDENTIALS
                    </mat-panel-title>
                    <mat-panel-description>
                      Credenciales del usuario
                    </mat-panel-description>
                  </mat-expansion-panel-header>

                  <p class="style-information">Le solicitamos amablemente que proporcione cierta información necesaria
                    para completar el registro.
                    Esto incluye un nombre de usuario, una contraseña, y la repetición de la misma para garantizar que
                    coincidan.
                    Estos datos son esenciales para finalizar el proceso de registro y permitirnos crear las
                    credenciales necesarias
                    para acceder a la plataforma.</p>

                  <label class="style-important">*All fields required unless noted.</label>
                  <form [formGroup]="registrationForm">
                    <div class="inputGroup">
                      <input autocomplete="off" formControlName="Usuario" required="" type="text">
                      <label for="Ubicacion">Usuario</label>
                    </div>

                    <div class="inputGroup">
                      <input autocomplete="off" formControlName="Contrasena" appNumbersOnly required="" type="text">
                      <label for="Ubicacion">Contraseña</label>
                    </div>

                    <div class="inputGroup">
                      <input autocomplete="off" required="" type="text">
                      <label for="Ubicacion">Contraseña</label>
                    </div>
                  </form>
                    
                  <!--formulario de imagenes-->
                  
                    <!--<div class="inputGroup">
                      <input type="file" (change)="onFileSelected($event)" accept="image/*">
                      
                    </div>
                    </div>

                    
                  <button class="button-siguiente" (click)="onSubmit();nextStep()">
                    <div
                      class="absolute opacity-0 -bottom-full rounded-md py-2 px-2  left-1/2 -translate-x-1/2 group-hover:opacity-100 transition-opacity shadow-lg">
                      <label class="label-button">
                        Siguiente
                      </label>
                    </div>
                  </button>

                </mat-expansion-panel>
              </mat-accordion>
            </div>
          </div>
        </div>

        <div class="content-principal2" *ngIf="currentStep === 3 && cardStates.card3">

          <mat-grid-list cols="2" rowHeight="2:1">
            <!--contenido principal-->

            <!--<mat-grid-tile class="content-1">
              <!--login-->
              <!--<div class="description">
                <p class="succesfully"> registro ha sido completado exitosamente 7w7! :D</p>
              </div>
            </mat-grid-tile>
            <mat-grid-tile class="content-2">
              <!--<div class="card2">-->

                <!--<div id="animacion_1">
                </div>
              <!--</div>-->

            <!--</mat-grid-tile>

          </mat-grid-list>-->

        </div>
      </div>
    </div>
  </div>
</body>

</html>