
  .content{
    margin: 5vh 0 0 0;
    width: 100%;
    background-color: #fdfdfd;
  }
  
  mat-card{
    margin: 10vh 0 0 5vh;
    width: 90%;
    box-shadow: none;
  }
  
  .demo-table {
    width: 100%;
  }
  
  
  .rounded-table {
    border-radius: 20px; /* Ajusta el valor según el nivel de redondeo que desees */
    overflow: hidden; /* Para asegurarte de que el contenido esté dentro de los bordes redondeados */
    background-color: #fdfdfd;
  }
  .mat-mdc-row .mat-mdc-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
  }
  
  .mat-mdc-row:hover .mat-mdc-cell {
    border-color: currentColor;
  }
  
  .demo-row-is-clicked {
    font-weight: bold;
  }
  

  table {
    width: 100%;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }
  
  .xd{
    width: 20%;
    margin-bottom: 15px;
  }
 
  .mat-elevation-z8, .mat-mdc-elevation-specific.mat-elevation-z8{
    box-shadow: none;
  }
  .style-ProductsCar h3{
    margin: 35px 16px 0 0;
    font-family: 'Manrope', sans-serif;
    font-weight: 900;
  }

  .custom-data {
    color: #737272; /* Cambia #ff0000 al color deseado (código hexadecimal, RGB, o nombre del color) */
  }
  