/* home-pharma.component.css */
body {
    /* Asegúrate de proporcionar la ruta correcta a tu imagen */
    background-image: url('../../../app/assets/img/lading/fondo.png');
    background-size: cover; /* Otras propiedades de estilo según tus necesidades */
  }

.servicios{
  background-image: url('../../../app/assets/img/lading/fondo_servicios.png');
}

.nosotros {
  background-image: url('../../../app/assets/img/lading/fondo.png');
  background-size: cover; 
}

.info {
  background-image: url("../../../app/assets/img/lading/bg.png");
  background-size: cover;
}

/* .footer{
  background-image: url('../../../app/assets/img/lading/FooterLogo_1.png');   
} */

.footer{
  background-image: url('../../../app/assets/img/lading/bg.png');
}
