<body>
  <nav
    class="bg-transparent w-full z-20 top-0 start-0 border-b border-gray-200 mb-5"
  >
    <div
      class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4"
    >
      <a
        href="https://flowbite.com/"
        class="flex items-center space-x-3 rtl:space-x-reverse"
      >
        <img src="https://i.imgur.com/wuR4YvZ.png" class="w-20" />
      </a>
      <div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
        <div class="flex gap-2">
          <button
            (click)="rutaLogin()"
            type="button"
            class="bg-white border-azul-500 border text-azul-500 rounded-3xl py-2 px-6 shadow-azulbs"
          >
            Entrar
          </button>
          <button
            (click)="rutaRegister()"
            class="bg-azul-500 text-white border border-white rounded-3xl shadow-azulbs py-2 px-4"
          >
            Registrate
          </button>
        </div>

        <button
          data-collapse-toggle="navbar-sticky"
          type="button"
          class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
          aria-controls="navbar-sticky"
          aria-expanded="false"
        >
          <span class="sr-only">Open main menu</span>
          <svg
            class="w-5 h-5"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 17 14"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M1 1h15M1 7h15M1 13h15"
            />
          </svg>
        </button>
      </div>
      <div
        class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1"
        id="navbar-sticky"
      >
        <ul
          class="flex flex-col p-4 md:p-0 mt-4 font-medium border border-gray-100 rounded-lg bg-transparent md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0"
        >
          <li>
            <a
              href="#"
              class="block py-2 px-3 text-black bg-blue-700 rounded bg-transparent font-bold md:p-0"
              >Home</a
            >
          </li>
          <li>
            <a
              href="#"
              class="block py-2 px-3 text-azul-200 rounded hover:bg-gray-100 font-bold md:hover:bg-transparent md:p-0"
              >About</a
            >
          </li>
          <li>
            <a
              href="#"
              class="block py-2 px-3 text-azul-200 rounded hover:bg-gray-100 font-bold md:hover:bg-transparent md:p-0"
              >Services</a
            >
          </li>
          <li>
            <a
              href="#"
              class="block py-2 px-3 text-azul-200 rounded hover:bg-gray-100 font-bold md:hover:bg-transparent md:p-0"
              >Contact</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <section class="" style="height: 31rem">
    <div class="inline-flex inset-0 justify-center absolute items-center mt-52">
      <img
        src="https://i.imgur.com/RsNcm3x.png"
        alt=""
        class="mx-auto my-auto w-[327px]"
      />
    </div>

    <div class="justify-center">
      <p class="text-center text-black font-bold text-3xl">
        Nuestro software intuitivo y automatizado
      </p>
      <p class="text-right text-black font-bold text-3xl p-4">
        impulsan la excelencia en la distribución de <br />
        medicamento.
      </p>
    </div>

    <div class="inline-flex justify-start ml-10">
      <div
        class="carta flex bg-card w-72 h-28 items-center rounded-md border-card"
      >
        <div class="w-1/3">
          <img src="https://i.imgur.com/c8Er9Hy.png" alt="" />
        </div>
        <div class="w-2/3 flex items-center justify-center text-center">
          <p class="font-bold">Gestión de Productos</p>
        </div>
      </div>
    </div>

    <div class="absolute right-0 inline-flex justify-end mr-10">
      <div
        class="carta flex bg-card w-72 h-28 items-center rounded-md border-card"
      >
        <div class="w-1/3">
          <img src="https://i.imgur.com/05q4Y4K.png" alt="" />
        </div>
        <div class="w-2/3 flex items-center justify-center text-center">
          <p class="font-bold">Gestión de Inventario</p>
        </div>
      </div>
    </div>

    <div class="absolute right-0 inline-flex justify-end mr-20 mt-40 2xl:mt-96">
      <div
        class="carta flex bg-card w-72 h-28 items-center rounded-md border-card"
      >
        <div class="w-1/3">
          <img src="https://i.imgur.com/sj14fnE.png" alt="" />
        </div>
        <div class="w-2/3 flex items-center justify-center text-center">
          <p class="font-bold">Distribuidora de Medicamentos</p>
        </div>
      </div>
    </div>
  </section>

  <section class="servicios flex flex-col items-center px-10 mt-10">
    <div class="text-center mb-6">
      <p
        class="text-black font-bold text-3xl font-quicksand"
        style="line-height: 56px"
      >
        Nuestros Servicios
      </p>
      <div class="h-1 w-24 bg-black mx-auto my-4"></div>
      <!-- Barra debajo del título -->
    </div>

    <div
      class="px-4 mb-12"
      style="
        width: 952px;
        margin: auto;
        color: #000;
        text-align: center;
        font-family: 'Mulish', sans-serif;
        font-size: 18px;
        font-weight: 300;
        line-height: 30px;
        margin-bottom: 30px;
      "
    >
      <p>
        Con más de 20 años en el sector, SUMECAR S.A. ofrece Dispositivos
        Médicos y productos para la salud de laboratorios internacionales,
        cumpliendo con las más estrictas normativas de calidad (GPMs) y
        aprobados en nuestro país por el INVIMA.
      </p>
    </div>

    <div class="cards-servicios w-full flex justify-center mb-12">
      <div class="flex flex-wrap gap-[55px] justify-center">
        <!-- Tarjeta 1 -->
        <div
          class="card p-6 rounded-lg shadow"
          style="
            max-width: 343px;
            height: 291px;
            border-radius: 24.081px;
            border: 0.602px solid #e7e7e7;
            background: linear-gradient(
              280deg,
              rgba(255, 255, 255, 0.8) 17.16%,
              rgba(255, 255, 255, 0.37) 77.94%
            );
            backdrop-filter: blur(4.214146614074707px);
          "
        >
          <img
            src="https://i.imgur.com/aIm6Na6.png"
            alt="Comercialización de Medicamentos"
            class=""
          />
          <p class="text-left text-black font-bold text-xl mt-4">
            Comercialización de Medicamentos
          </p>
          <p class="text-left font-normal text-gray-500 mt-2">
            We provide to you the best choices for you. Sure your undergo
            treatment with
          </p>
        </div>

        <!-- Tarjeta 2 -->
        <div
          class="card p-6 rounded-lg shadow"
          style="
            max-width: 343px;
            height: 291px;
            border-radius: 24.081px;
            border: 0.602px solid #e7e7e7;
            background: linear-gradient(
              280deg,
              rgba(255, 255, 255, 0.8) 17.16%,
              rgba(255, 255, 255, 0.37) 77.94%
            );
            backdrop-filter: blur(4.214146614074707px);
          "
        >
          <img
            src="https://i.imgur.com/kLkolvj.png"
            alt="Soporte Técnico"
            class=""
          />
          <p class="text-left text-black font-bold text-xl mt-4">
            Soporte Técnico
          </p>
          <p class="text-left font-normal text-gray-500 mt-2">
            We provide to you the best choices for you. Sure your undergo
            treatment with
          </p>
        </div>

        <!-- Tarjeta 3 -->
        <div
          class="card p-6 rounded-lg shadow"
          style="
            max-width: 343px;
            height: 291px;
            border-radius: 24.081px;
            border: 0.602px solid #e7e7e7;
            background: linear-gradient(
              280deg,
              rgba(255, 255, 255, 0.8) 17.16%,
              rgba(255, 255, 255, 0.37) 77.94%
            );
            backdrop-filter: blur(4.214146614074707px);
          "
        >
          <img
            src="https://i.imgur.com/t6sdTwb.png"
            alt="Soporte Técnico"
            class=""
          />
          <p class="text-left text-black font-bold text-xl mt-4">
            Soporte Técnico
          </p>
          <p class="text-left font-normal text-gray-500 mt-2">
            We provide to you the best choices for you. Sure your undergo
            treatment with
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="nosotros" style="height: 31rem">
    <div class="flex gap-2 items-center">
      <div class="img-nosotros w-1/2">
        <!-- LOTTIE -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.12.2/lottie.min.js"></script>
<div class=" flex justify-center">
   <iframe class="h-96"
          src="https://lottie.host/embed/515d322a-1b28-4413-8cde-2317e31d2a86/perVas0txA.json"
        ></iframe>
</div>
       
      </div>

      <div class="content-nosotros w-1/2">
        <p class="text-black font-bold text-3xl mt-5">
          Sobre <br />
          Nosotros
        </p>
        <div class="h-1 w-24 bg-black my-4"></div>
        <p
          class="texto-nosotros text-base text-black font-light leading-relaxed"
        >
          SUMECAR S.A., dedicada al comercio mayorista de<br />
          productos farmacéuticos, medicinales y cosméticos, se<br />
          enfoca en la total satisfacción del cliente y en la mejora<br />
          continua. Con más de 20 años en el mercado,<br />
          mantiene sólidas relaciones comerciales.
        </p>
        <button
          class="border-azul-500 border text-azul-500 rounded-3xl py-2 px-16"
        >
          Leer más
        </button>
      </div>
    </div>
  </section>

  <section class="p-[31px] servicios">
    <div class="flex justify-center gap-10 items-center p-10">
      <!-- PharmaPA -->
      <div
        class="card p-6 rounded-lg shadow"
        style="
          max-width: 343px;
          border-radius: 24.081px;
          border: 0.602px solid #e7e7e7;
          background: linear-gradient(
            280deg,
            rgba(255, 255, 255, 0.8) 17.16%,
            rgba(255, 255, 255, 0.37) 77.94%
          );
          backdrop-filter: blur(4.214146614074707px);
        "
      >
        <p class="text-left text-black font-bold text-xl mt-4">PharmaPA</p>
        <img
          src="https://i.imgur.com/TsJ7Udr.png"
          alt="Comercialización de Medicamentos"
          class=""
        />
        <p class="text-left font-normal text-gray-500 mt-2">
          Our dedicated patient engagement app and web portal allow you to
          access information instantaneously (no tedeous form, long calls, or
          administrative hassle) and securely
        </p>
        <button
          class="border-azul-500 border text-azul-500 rounded-3xl py-2 px-16 mb-3"
        >
          Entrar
        </button>
      </div>

      <!-- PharmaPA -->
      <div
        class="card p-6 rounded-lg shadow"
        style="
          max-width: 343px;
          border-radius: 24.081px;
          border: 0.602px solid #e7e7e7;
          background: linear-gradient(
            280deg,
            rgba(255, 255, 255, 0.8) 17.16%,
            rgba(255, 255, 255, 0.37) 77.94%
          );
          backdrop-filter: blur(4.214146614074707px);
        "
      >
        <p class="text-left text-black font-bold text-xl mt-4">PharmaClients</p>
        <img
          src="https://i.imgur.com/PO670wi.png"
          alt="Comercialización de Medicamentos"
          class=""
        />
        <p class="text-left font-normal text-gray-500 mt-2">
          Our dedicated patient engagement app and web portal allow you to
          access information instantaneously (no tedeous form, long calls, or
          administrative hassle) and securely
        </p>
        <button
          class="border-azul-500 border text-azul-500 rounded-3xl py-2 px-16 mb-3"
        >
          Entrar
        </button>
      </div>
    </div>
  </section>

  <div class="info mx-auto bg-white rounded-xl shadow-md overflow-hidden">
    <section class="h-96">
      <div>
        <img class="footer" />
      </div>
      <div>
        <p class="text-white">
          Sumecar S.A. ofrece productos<br />
          farmacéuticos y médicos avanzados y <br />
          accesibles, con distribución eficaz y<br />
          asesoría especializada.
        </p>
      </div>
      <div class="mt-5">
        <p class="text-white">©Sumecar SAS. Todos los derechos reservados</p>
      </div>
      <div class="flex justify-end space-x-20 mt-2 mx-96">
        <div class="mr-0.5">
          <h2 class="font-bold mb-2 text-white">Company</h2>
          <ul class="mt-7">
            <li>
              <a href="#" class="text-white">
                <p>About</p>
              </a>
            </li>
            <li>
              <a href="#" class="text-white">
                <p>Testimonials</p>
              </a>
            </li>
            <li>
              <a href="#" class="text-white">
                <p>Find a doctor</p>
              </a>
            </li>
            <li>
              <a href="#" class="text-white">
                <p>Apps</p>
              </a>
            </li>
          </ul>
        </div>
        <div class="mx-0.5">
          <h2 class="font-bold mb-2 text-white">Region</h2>
          <ul class="mt-7">
            <li>
              <a href="#" class="text-white">
                <p>Indonesia</p>
              </a>
            </li>
            <li>
              <a href="#" class="text-white">
                <p>Singapore</p>
              </a>
            </li>
            <li>
              <a href="#" class="text-white">
                <p>Hongkong</p>
              </a>
            </li>
            <li>
              <a href="#" class="text-white">
                <p>Canada</p>
              </a>
            </li>
          </ul>
        </div>
        <div class="ml-0.5">
          <h2 class="font-bold mb-2 text-white">Help</h2>
          <ul class="mt-7">
            <li>
              <a href="#" class="text-white">
                <p>Help center</p>
              </a>
            </li>
            <li>
              <a href="#" class="text-white">
                <p>Contact support</p>
              </a>
            </li>
            <li>
              <a href="#" class="text-white">
                <p>Instructions</p>
              </a>
            </li>
            <li>
              <a href="#" class="text-white">
                <p>How it works</p>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </section>
  </div>
</body>
