.table-container {
    height: 100%; /* Establece la altura al 100% de su contenedor */
}



  /*estilos del input*/
  .input {
    max-width: 190px;
    height: 44px;
    background-color: #05060f0a;
    border-radius: .5rem;
    padding: 0 1rem;
    border: 2px solid transparent;
    font-size: 1rem;
    transition: border-color .3s cubic-bezier(.25,.01,.25,1) 0s, color .3s cubic-bezier(.25,.01,.25,1) 0s,background .2s cubic-bezier(.25,.01,.25,1) 0s;
  }

  .input:hover, .input:focus, .input-group:hover .input {
    outline: none;
    border-color: #05060f;
  }
  
  .input-group:hover, .input:focus {
    color: #05060fc2;
  }

  

  .content{
    margin: 5vh 0 0 0;
    width: 100%;
    background-color: #fdfdfd;
  }
  
  mat-card{
    margin: 10vh 0 0 5vh;
    width: 90%;
    box-shadow: none;
  }
  
  .demo-table {
    width: 100%;
  }
  
  
  .rounded-table {
    border-radius: 20px; /* Ajusta el valor según el nivel de redondeo que desees */
    overflow: hidden; /* Para asegurarte de que el contenido esté dentro de los bordes redondeados */
    background-color: #fdfdfd;
  }
  .mat-mdc-row .mat-mdc-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
  }
  
  .mat-mdc-row:hover .mat-mdc-cell {
    border-color: currentColor;
  }
  
  .demo-row-is-clicked {
    font-weight: bold;
  }
  

  table {
    width: 100%;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }
  
  .xd{
    width: 20%;
    margin-bottom: 15px;
  }
 
  .mat-elevation-z8, .mat-mdc-elevation-specific.mat-elevation-z8{
    box-shadow: none;
  }
  .style-ProductsCar h3{
    margin: 35px 16px 0 0;
    font-family: 'Manrope', sans-serif;
    font-weight: 900;
  }

  .custom-data {
    color: #737272; /* Cambia #ff0000 al color deseado (código hexadecimal, RGB, o nombre del color) */
  }

  .confirm-container{
    display: flex;
    flex-direction: row;
    position: absolute;
    gap: 6px;
}
/*button {
    border: none;
    position: relative;
    padding: 0.7em 2.4em;
    font-size: 18px;
    background: transparent;
    cursor: pointer;
    user-select: none;
    overflow: hidden;
    color: royalblue;
    z-index: 1;
    font-family: inherit;
    font-weight: 500;
  }*/
  
 .eliminar{
    color: #C0392B;
  }

  

  /*estilos del boton*/
  .button-siguiente {
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem 2rem;
    background-color: #ccc;
    color: #000;
    border-radius: 3rem;
    font-weight: bold;
    transition: background-color 0.4s ease;
    margin-top: 50px;
    margin: 50px 0 0 2vh;
    width: 43%;
    justify-content: center;
    cursor: pointer;
  }
  
  .button-siguiente:hover {
    background-color: rgba(86, 193, 255, 1);
    color: #f1f1f1;
  }
  
  .button-siguiente svg {
    width: 24px;
    height: 24px;
    fill: none;
    stroke: #f1f1f1;
  }
  
  .button-siguiente .download-label {
    display: none;
    position: absolute;
    bottom: -100%;
    left: 50%;
    transform: translateX(-50%);
    padding: 0.5rem 1rem;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 0.5rem;
    transition: opacity 0.2s ease;
  }
  
  .button-siguiente:hover .download-label {
    display: block;
    opacity: 1;
  }

  .label-button{
    color:#f1f1f1
  }