/* Estilos para el modal */
/* Estilos para el modal de éxito */
.modal-dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000; /* Ajusta esto según sea necesario */
    background-color: rgba(255,255,255,1);
    border-radius: 20px;
    padding: 20px;
    color: #212F3D;
    font-size: 20px;
  }
  
  /* Estilos para el contenido del modal (opcional) */
  .modal-content {
    /* Estilos adicionales para el contenido del modal */
  }
.modal-content {
    background-color: rgba(255,255,255,1); /* Color de fondo del modal */
    border-radius: 10px;
    position: relative;
  }
  
  .modal-header {
    background-color: #007bff; /* Color de fondo del encabezado del modal */
    color: #fff; /* Color del texto del encabezado del modal */
    border-top-left-radius: 10px; /* Bordes redondeados en la parte superior izquierda */
    border-top-right-radius: 10px; /* Bordes redondeados en la parte superior derecha */
  }
  
  .modal-title {
    font-weight: bold; /* Texto del encabezado en negrita */
  }
  
  .modal-body {
    padding: 20px; /* Espaciado interno en el cuerpo del modal */
  }
  
  .modal-footer {
    border-bottom-left-radius: 10px; /* Bordes redondeados en la parte inferior izquierda */
    border-bottom-right-radius: 10px; /* Bordes redondeados en la parte inferior derecha */
    text-align: center; /* Texto centrado en el pie de página */
  }
  
  /* Estilos para centrar el modal en la pantalla */
  .modal-dialog {
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    max-width: 90%; /* Ancho máximo del modal */
  }
  
  /* Ajustar el ancho del modal según tus preferencias */
  .modal-dialog .modal-content {
    max-width: 400px; /* Ancho máximo del contenido del modal */
  }
  
  /* Estilos para la flecha de éxito */
.success-arrow {
    position: relative;
    width: 80px;
    height: 80px;
    margin: 0 auto;
    transform: translateY(-20px);
  }
  
  .success-checkmark {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    stroke: #4CAF50;
    stroke-width: 4;
    stroke-dasharray: 260;
    stroke-dashoffset: 260;
    stroke-linecap: round;
    fill: none;
    animation: draw-checkmark 0.6s ease-in-out forwards;
  }
  
  @keyframes draw-checkmark {
    to {
      stroke-dashoffset: 0;
    }
  }

  /*estilos para animacion de correo*/
  .loader {
    position: relative;
    border-style: solid;
    box-sizing: border-box;
    border-width: 40px 60px 30px 60px;
    border-color: #3760C9 #96DDFC #96DDFC #36BBF7;
    animation: envFloating 1s ease-in infinite alternate;
    margin-top: 50px;
  }
  
  .loader:after {
    content: "";
    position: absolute;
    right: 62px;
    top: -40px;
    height: 70px;
    width: 50px;
    background-image: linear-gradient(#000 45px, transparent 0),
              linear-gradient(#000 45px, transparent 0),
              linear-gradient(#000 45px, transparent 0);
    background-repeat: no-repeat;
    background-size: 30px 4px;
    background-position: 0px 11px , 8px 35px, 0px 60px;
    animation: envDropping 0.75s linear infinite;

  }
  
  @keyframes envFloating {
    0% {
      transform: translate(-2px, -5px)
    }
  
    100% {
      transform: translate(0, 5px)
    }
  }
  
  @keyframes envDropping {
    0% {
      background-position: 100px 11px , 115px 35px, 105px 60px;
      opacity: 1;
    }
  
    50% {
      background-position: 0px 11px , 20px 35px, 5px 60px;
    }
  
    60% {
      background-position: -30px 11px , 0px 35px, -10px 60px;
    }
  
    75%, 100% {
      background-position: -30px 11px , -30px 35px, -30px 60px;
      opacity: 0;
    }
  }
        
  /*desenfoque del fondo del modal*/
  /* Clases para el efecto de desenfoque del fondo */
.modal-backdrop {
    backdrop-filter: blur(5px); /* Aplicar un desenfoque al fondo */
    background-color: rgba(0, 0, 0, 0.3); /* Ajusta el color de fondo y la opacidad del desenfoque */
  }
  
  .blur-background {
    filter: blur(5px); /* Aplicar un desenfoque al contenido del modal */
  }
  
  .modal-opened {
    filter: blur(5px); /* Aplicar un desenfoque al fondo */
    /*pointer-events: none; /* Desactivar interacciones con el fondo */
  }
  

  .Btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 45px;
    height: 45px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition-duration: .3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.199);
    background-color: rgb(255, 65, 65);
  }
  
  /* plus sign */
  .sign {
    width: 100%;
    transition-duration: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .sign svg {
    width: 17px;
  }
  
  .sign svg path {
    fill: white;
  }
  /* text */
  .text {
    right: 0%;
    width: 0%;
    opacity: 0;
    color: white;
    font-size: 1.2em;
    font-weight: 600;
    transition-duration: .3s;
  }
  /* hover effect on button width */
  .Btn:hover {
    width: 125px;
    border-radius: 40px;
    transition-duration: .3s;
  }
  
  .Btn:hover .sign {
    width: 30%;
    transition-duration: .3s;
    padding-left: 20px;
  }
  /* hover effect button's text */
  .Btn:hover .text {
    opacity: 1;
    width: 70%;
    transition-duration: .3s;
    padding-right: 10px;
  }
  /* button click effect*/
  .Btn:active {
    transform: translate(2px ,2px);
  }

  