<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Manrope:wght@500;700;800&display=swap"
  rel="stylesheet"
/>
<mat-card style="height: 100vh !important; ">
  <mat-card-content>
<div class=" content">
  
  <mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table rounded-table">

    <!-- Código Column -->
    <ng-container matColumnDef="codigo">
      <mat-header-cell *matHeaderCellDef>Código</mat-header-cell>
      <mat-cell *matCellDef="let item" class="custom-data">{{ item.codigo }}</mat-cell>
    </ng-container>

    <!-- Artículo Column -->
    <ng-container matColumnDef="articulo">
      <mat-header-cell *matHeaderCellDef>Artículo</mat-header-cell>
      <mat-cell *matCellDef="let item" class="custom-data">{{ item.articulo }}</mat-cell>
    </ng-container>

    <!-- Laboratorio Column -->
    <ng-container matColumnDef="laboratorio">
      <mat-header-cell *matHeaderCellDef>Laboratorio</mat-header-cell>
      <mat-cell *matCellDef="let item" class="custom-data">{{ item.laboratorio }}</mat-cell>
    </ng-container>

    <!-- Cantidad Column -->
    <ng-container matColumnDef="cantidad">
      <mat-header-cell *matHeaderCellDef class="custom-data">Cantidad</mat-header-cell>
      <mat-cell *matCellDef="let item">{{ item.cantidad }}</mat-cell>-->

      <mat-cell *matCellDef="let item"><input appNumbersOnly class="input" [(ngModel)]="item.cantidad"
          (input)="updateCantidad(item)"></mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>

</div>

<div class="confirm-container">
  <!--boton para confirmar-->
  <button class="button-siguiente" (click)="confirmar();refrescar();generatePDF(); generateTableHTML()">
    <div>
      <label class="label-button">
        Confirmar
      </label>
    </div>
  </button>
  
  <!--boton para cancelar-->
  <button class="button-siguiente" (click)="onClickButton();refrescar()">
    <div>
      <label class="label-button">
        Cancelar
      </label>
    </div>
  </button>

  <!--boton para generar pdf-->

  
  <button class="button-siguiente" (click)="generatePDF(); generateTableHTML()">
    <div>
      <label class="label-button">
        Generar PDF
      </label>
    </div>
  </button>
</div>

</mat-card-content>
</mat-card>
